extends layout

block content
    body.bg-dark.text-white
        .container
            h1.mb-5
                i.fas.fa-leaf
            .row.eq-height
                if irrigators.length
                    each irrigator in irrigators
                        div(class="col-lg-3 col-md-6 #{irrigator._id}")
                            .border.border-light.rounded.px-3.py-4
                                p.text-center.text-big 
                                    if irrigator.status
                                        i.fas.fa-tint.text-center.text-success.status-icon
                                    else
                                        i.fas.fa-tint.text-center.text-warning.status-icon
                                p.text-center.name #{irrigator.name}
                                p Status: 
                                    span.status
                                        if irrigator.status 
                                            | Ativado
                                        else
                                            | Desativado
                                    br
                                    | Cidade: 
                                    span.city #{irrigator.city.nome} - #{irrigator.city.uf} (#{irrigator.city.id})
                                    br
                                    | CEP: 
                                    span.cep #{irrigator.cep}
                                    br
                                    | Endereço: 
                                    span.address #{irrigator.address}

                else
                    p Nenhum irrigador cadastrado!
        script(src="/jquery/jquery.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/scripts/index.js")